# Ignore temporary files
*~
~$
.swp$

# Ignore build, install, and log directories
build/
install/
log/

# Ignore IDE specific directories
.vscode/

# Ignore timer log directory
worm_picker_description/program_data/timer_log/timer_data.json
worm_picker_description/program_data/data_files/hotel_data.json