# Ignore the src directory itself
/src

# Un-ignore all contents inside src
!/src/

# Ignore build, install, and log directories
/build
/install
/log

# Ignore IDE specific directories
.vscode/
.github/