<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="workcell" params="prefix">

    <!-- Materials -->
    <material name="environment_grey">
      <color rgba="0.7 0.7 0.7 1"/>
    </material>

    <material name="environment_white">
      <color rgba="0.99 0.99 0.99 1"/>
    </material>

    <!-- Workstation - ALL PARTS COMBINED AS SINGLE FILE. ORIGIN DEFINED BY ROBOT 'BASE_LINK' -->
    <link name="workstation">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://worm_picker_description/meshes/workcell/workstation_v1_visual.stl"/>
        </geometry>
        <material name="workstation">
          <color rgba="0.95 0.95 0.95 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://worm_picker_description/meshes/workcell/workstation_v1_visual.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="world-workstation" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Workstation STL has origin defined at robot base_link origin -->
      <parent link="world"/>
      <child link="workstation"/> 
    </joint>

    <!-- Hotel 1 -->
    <!-- <link name="hotel_1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://worm_picker_description/meshes/workcell/hotel_1.stl"/>
        </geometry>
        <material name="hotel">
          <color rgba="0.95 0 0 0.5"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://worm_picker_description/meshes/workcell/hotel_1.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="world-hotel_1" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/> <!- STL has origin defined at robot base_link origin ->
      <parent link="world"/>
      <child link="hotel_1"/> 
    </joint> -->

    <!-- Float Table URDF -->
    <link name="table">
      <visual>
        <origin xyz="0.9144 0 -0.1" rpy="0 0 0"/>
        <material name="environment_grey"/>
        <geometry>
          <box size="1.8288 1.2192 0.2"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.9144 0 -0.1" rpy="0 0 0"/>
        <geometry>
          <box size="1.8288 1.2192 0.2"/>
        </geometry>
      </collision>
    </link>
    <joint name="world-table" type="fixed">
      <origin xyz="-0.5588 0 0" rpy="0 0 0"/> <!-- 0.5588 is approx 22 inches -->
      <parent link="world"/>
      <child link="table"/>
    </joint>

    <!-- Rough Collision Block - Ceiling -->
    <link name="ceiling">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.01" radius="3" />
        </geometry>
      </collision>
    </link>
    <joint name="world-ceiling" type="fixed">
      <origin xyz="0 0 1.2573" rpy="0 0 0"/> <!-- Ceiling is approx 49.5 inches -->
      <parent link="world"/>
      <child link="ceiling"/>
    </joint>

  </xacro:macro>
</robot>
